<table>
  <tr>
    <th>Imię i nawisko</th>
    <th>Email</th>
    <th>Telefon</th>
    <th>Adres strony www</th>
    <th>Nazwa firmy</th>
    <th>Miasto</th>
    <th>Ulica</th>
    <th>Nr mieszkania/domu</th>
    <th>Kod pocztowy</th>
    <th></th>
  </tr>
  <tr>
  <tr>
    <td>{{studentDetails.name}}</td>
    <td>{{studentDetails.email}}</td>
    <td>{{studentDetails.phone}}</td>
    <td>{{studentDetails.website}}</td>
    <td>{{studentDetails.company.name}}</td>
    <td>{{studentDetails.address.city}}</td>
    <td>{{studentDetails.address.street}}</td>
    <td>{{studentDetails.address.suite}}</td>
    <td>{{studentDetails.address.zipcode}}</td>
  </tr>
</table>
