<table>
  <tr>
    <th>Lp</th>
    <th>Imię i nawisko</th>
    <th>Email</th>
    <th>Telefon</th>
    <th>Adres strony www</th>
    <th>Szczegóły</th>
    <th></th>
  </tr>
  <tr *ngFor="let student of students; let i = index">
    <td>{{i + 1}}</td>
    <td>{{student.name}}</td>
    <td>{{student.email}}</td>
    <td>{{student.phone}}</td>
    <td>{{student.website}}</td>
    <td>
      <a [routerLink]="'/students/edit/'+student.id">szczegóły</a>
    </td>
    <td class="last-column" (click)="deleteRow(student.id)">
      <button type="button">X</button>
    </td>
  </tr>
</table>
